<%- include('header.ejs') %>

  <!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <!-- <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." /> -->
    <img class="masthead-avatar mb-5" src="assets/img/chollopop-transparente.png" alt="..." />
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>      
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-3"> <%= __('Compra venta molona') %></h1>
    <!-- Icon Divider-->
    
    <!-- Masthead Subheading-->
    <!-- <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p> -->
  </div>
</header>

<%- include('footer.ejs') %>

